<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Edit Project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-light">
  <!-- Navbar section -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary px-5 rounded-bottom" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/image/logo-navbar.png" style="width: 4rem" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testi-OOP" target="_blank">My Testimonials</a>
          </li>
        </ul>
        <a href="/contactMe" target="_blank" class="btn rounded-pill text-bg-danger">contact Me</a>
      </div>
    </div>
  </nav>

  <!-- Form Section -->
  <form class="mt-4 w-25 mx-auto" action="/editProject/{{blogs.id}}" method="post">
    <h2 class="text-center mb-5">Edit Project</h2>
    <div class="form-floating mb-3">
      <input type="text" class="form-control shadow" id="nameProject" value="{{ blogs.title }}" name="nameProject" />
      <label for="floatingInput">Name Project</label>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="startDate" class="form-label">Start Date</label>
        {{ blogs.startDate }}
        <input type="date" id="startDate" value ="{{ blogs.startDate }}" name="startDate" class="form-control shadow">
      </div>
      <div class="col">
        <label for="endDate" class="form-label">End Date</label>
        <input type="date" id="endDate" value="{{ blogs.endDate }}" name="endDate" class="shadow form-control" >
      </div>
    </div>
    <div class="form-floating">
      <textarea class="shadow form-control mb-3" id="description" name="description"
        style="height: 100px">{{ blogs.content }}</textarea>
      <label for="description">Description</label>
    </div>
    <div class="checkbox-group d-flex gap-4">
      <div class="checkbox-left">
        <div class="mb-3 form-check">
          <input type="checkbox" class="shadow form-check-input" id="nodejs" name="technologies" value="node-js"  />
          <label class="form-check-label" for="nodejs">Node JS</label>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="shadow form-check-input" id="reactjs" name="technologies" value="react" />
          <label class="form-check-label" for="reactjs">React JS</label>
        </div>
      </div>
      <div class="checkbox-right">
        <div class="mb-3 form-check">
          <input type="checkbox" class="shadow form-check-input" id="angular" name="technologies" value="angular" />
          <label class="form-check-label" for="angular">Angular</label>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="shadow form-check-input" id="vuejs" name="technologies" value="vuejs"  />
          <label class="form-check-label" for="vuejs">Vue JS</label>
        </div>
      </div>

    </div>
    <div class="input-group mb-3">
      <input type="file" class="shadow form-control" value="{{ blogs.inputGambar }}" id="inputGambar" name="inputGambar" />
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="shadow btn btn-primary">Edit</button>
    </div>
  </form>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  {{!-- <script src="../assets/js/myprojectpages.js"></script> --}}
</body>

</html>