<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-light">
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-5 rounded-bottom" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/image/logo-navbar.png" style="width: 4rem" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    {{#if isLogin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/addProject" target="_blank">Add Project</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/addProject" target="_blank">Add Project</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/testi-OOP" target="_blank">My Testimonials</a>
                    </li>
                </ul>
                {{#if isLogin}}
                    <a class="nav-link me-3 text-success">Hello, {{  user }}</a>
                    <a class="nav-link me-3 text-warning" href="/logout">Log Out</a>               
                {{else}}
                    <a href="/registerPage" class="nav-link me-3 text-light" >Register</a>
                    <a class="nav-link me-3 text-light" href="/loginPage">Login</a>               
                {{/if}}
                <a href="/contactMe" target="_blank" class="btn rounded-pill text-bg-danger">contact Me</a>
            </div>
        </div>
    </nav>


    <!-- Main Content -->
    <div class="p-5">
        {{#if messages.success}}
            <div class="alert alert-success" role="alert">
                <div class="container d-flex justify-content-center">
                    {{messages.success}}
                </div>
            </div>
            {{/if}}
        <div class="card mb-3 mx-auto mt-5" style="max-width: 54rem;">
            <div class="row g-0">
                <div class="col-md-4 px-4 py-4">
                    <div class="card shadow" >
                        <img src="../assets/image/foto-profile.png" class="img-fluid rounded-start">
                        <div class="card-body">
                            <h6 class="card-title text-center">Fullstack Developer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">Hi, Welcome to my profile</h2>
                        <p class="card-text">My name is Haidar Fahkri Jauhar Fikri. I am a recent graduate in
                            Electrical Engineering from Muhammadiyah University of Semarang. My
                            most recent job was as a junior web developer at PT. Duta Solusi
                            Informatika. Nice to meet you.</p>
                        <a href="/contactMe" target="_blank" class="btn rounded-pill text-bg-danger"
                            role="button">Contact Me</a>
                        <a href="../assets/image/CV (1).pdf" target="_blank" class="btn rounded-pill text-bg-danger"
                            role="button">My CV <i class="fa-regular fa-circle-down"></i></a>
                        <div class="d-flex gap-2 mt-3">
                            <a href="#" style="width: 2rem; height: 2rem;"
                                class="px-2 pt-1 rounded-circle bg-success-subtle"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#" style="width: 2rem; height: 2rem;"
                                class="px-2 pt-1 rounded-circle bg-success-subtle"><i
                                    class="text-danger fa-brands fa-instagram"></i></a>
                            <a href="#" style="width: 2rem; height: 2rem;"
                                class="px-2 pt-1 rounded-circle bg-success-subtle"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" style="width: 2rem; height: 2rem;"
                                class="px-2 pt-1 rounded-circle bg-success-subtle"><i
                                    class="text-dark fa-brands fa-x-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

     <!-- Generate Card Section -->
  <section class="mainBlog px-4 mt-5 mb-4 bg-body">
    <h3 class="text-center mb-4">MY PROJECT</h3>
    <div class="d-flex gap-5 flex-wrap">
      {{#each blogs}}
      <div class="card shadow" style="width: 16rem;">
        <a href="/detilProject/{{this.id}}" target="_blank">
          <img src="../assets/image/blog-1.jpg" class="card-img-top" />
          {{!-- <img src="{{this.inputGambar}}" class="card-img-top" /> --}}
        </a>
        <div class="card-body">
          <h5 class="card-title"><a href="/detilProject/{{this.id}}" target="_blank" class="text-decoration-none text-dark-emphasis">{{this.title}}</a></h5>
          <p>Durasi : {{this.duration}} days</p>
          <p class="card-text text-truncate">{{this.content}}</p>
          <div class="d-flex gap-2">
            
            {{#if this.nodeJs}}
              <i class="fa-brands fa-node-js"></i>
            {{/if}}
            {{#if this.reactJs}}
              <i class="fa-brands fa-react"></i>
            {{/if}}
            {{#if this.angular}}
              <i class="fa-brands fa-angular"></i>
            {{/if}}
            {{#if this.vueJs}}
              <i class="fa-brands fa-vuejs"></i>
            {{/if}}
          </div>
          <div class="btn d-flex justify-content-center mt-2 gap-3">
            {{#if isLogin}}
            <a href="/editProjectPage/{{this.id}}" class="btn btn-danger" style="width:5rem; height:3rem;">Edit</a>
            <a href="/deleteProject/{{this.id}}" class="btn btn-danger" style="width:5rem; height:3rem;">Delete</a>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}


    </div>
  </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>